<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Dashboard | 微服务开发平台</title>
  <th:block th:replace="fragments/layout::core-css"/>
  <th:block th:replace="fragments/layout::app-css"/>
</head>

<body class="theme-teal">
<th:block th:replace="fragments/layout/layout-common::load-div"/>
<th:block th:replace="fragments/layout/layout-common::search-bar"/>
<th:block th:replace="fragments/layout/layout-common::top-bar"/>
<th:block th:replace="fragments/layout/layout-common::side-bar"/>

<div class="content-main">
  <iframe name="_content" width="100%" height="100%" frameborder="0" class="content"></iframe>
</div>

<th:block th:replace="fragments/js/js-import::core-js"/>

</body>

</html>