<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.pettyfer.basic.basicinfoserver.mapper.SystemUserGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.pettyfer.basic.basicinfoserver.entity.SystemUserGroup">
        <id column="UUID" property="uuid" />
        <result column="USER_CODE" property="userCode" />
        <result column="GROUP_CODE" property="groupCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        UUID AS uuid, USER_CODE AS userCode, GROUP_CODE AS groupCode
    </sql>

</mapper>
