<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.pettyfer.basic.basicinfoserver.mapper.SystemUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.pettyfer.basic.basicinfoserver.entity.SystemUser">
        <id column="USER_ID" property="userId" />
        <result column="USER_NAME" property="userName" />
        <result column="USER_PWD" property="userPwd" />
        <result column="FULL_NAME" property="fullName" />
        <result column="USER_SEX" property="userSex" />
        <result column="USER_BIRTHDAY" property="userBirthday" />
        <result column="IN_DATE" property="inDate" />
        <result column="PHOTO" property="photo" />
        <result column="USER_NUM" property="userNum" />
        <result column="EMAIL" property="email" />
        <result column="QQ_NUM" property="qqNum" />
        <result column="USER_TEL" property="userTel" />
        <result column="USER_ADDR" property="userAddr" />
        <result column="USER_DESC" property="userDesc" />
        <result column="USER_PHONE_TEL" property="userPhoneTel" />
        <result column="USER_SOURCE" property="userSource" />
        <result column="USER_IDEN_TYPE" property="userIdenType" />
        <result column="USER_IDEN" property="userIden" />
        <result column="SORT_NO" property="sortNo" />
        <result column="IS_ADMIN" property="isAdmin" />
        <result column="STATUS" property="status" />
        <result column="CREATOR" property="creator" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="MODIFIER" property="modifier" />
        <result column="MODIFY_DATE" property="modifyDate" />
        <result column="DEL_FLAG" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        USER_ID AS USER_ID, USER_NAME AS USER_NAME, USER_PWD AS USER_PWD, FULL_NAME AS FULL_NAME, USER_SEX AS USER_SEX, USER_BIRTHDAY AS USER_BIRTHDAY, IN_DATE AS IN_DATE, PHOTO AS PHOTO, USER_NUM AS USER_NUM, EMAIL AS EMAIL, QQ_NUM AS QQ_NUM, USER_TEL AS USER_TEL, USER_ADDR AS USER_ADDR, USER_DESC AS USER_DESC, USER_PHONE_TEL AS USER_PHONE_TEL, USER_SOURCE AS USER_SOURCE, USER_IDEN_TYPE AS USER_IDEN_TYPE, USER_IDEN AS USER_IDEN, SORT_NO AS SORT_NO, IS_ADMIN AS IS_ADMIN, STATUS AS STATUS, CREATOR AS CREATOR, CREATE_DATE AS CREATE_DATE, MODIFIER AS MODIFIER, MODIFY_DATE AS MODIFY_DATE, DEL_FLAG AS DEL_FLAG
    </sql>
</mapper>
