<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.pettyfer.basic.basicinfoserver.mapper.SystemDeptMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.pettyfer.basic.basicinfoserver.entity.SystemDeptMenu">
        <id column="UUID" property="uuid" />
        <result column="DEPT_ID" property="deptId" />
        <result column="MENU_ID" property="menuId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        UUID AS uuid, DEPT_ID AS deptId, MENU_ID AS menuId
    </sql>

</mapper>
