<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.pettyfer.basic.basicinfoserver.mapper.SystemDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.pettyfer.basic.basicinfoserver.entity.SystemDept">
        <id column="UUID" property="uuid" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="PARENT_CODE" property="parentCode" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="DEPT_SHORT_NAME" property="deptShortName" />
        <result column="DEPT_TYPE" property="deptType" />
        <result column="DEPT_FRAM_CODE" property="deptFramCode" />
        <result column="ORG_CODE" property="orgCode" />
        <result column="DEPT_DESC" property="deptDesc" />
        <result column="LEADER" property="leader" />
        <result column="DEPUTY_LEADER" property="deputyLeader" />
        <result column="TEL_PHONE" property="telPhone" />
        <result column="ADDRESS" property="address" />
        <result column="DEPT_GRADE" property="deptGrade" />
        <result column="AREA_CODE" property="areaCode" />
        <result column="STATUS" property="status" />
        <result column="SORT_NO" property="sortNo" />
        <result column="CREATOR" property="creator" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="MODIFIER" property="modifier" />
        <result column="MODIFY_DATE" property="modifyDate" />
        <result column="DEL_FLAG" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        UUID AS uuid, DEPT_CODE AS deptCode, PARENT_CODE AS parentCode, DEPT_NAME AS deptName, DEPT_SHORT_NAME AS deptShortName, DEPT_TYPE AS deptType, DEPT_FRAM_CODE AS deptFramCode, ORG_CODE AS orgCode, DEPT_DESC AS deptDesc, LEADER AS leader, DEPUTY_LEADER AS deputyLeader, TEL_PHONE AS telPhone, ADDRESS AS address, DEPT_GRADE AS deptGrade, AREA_CODE AS areaCode, STATUS AS status, SORT_NO AS sortNo, CREATOR AS creator, CREATE_DATE AS createDate, MODIFIER AS modifier, MODIFY_DATE AS modifyDate, DEL_FLAG AS delFlag
    </sql>

</mapper>
