<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>404 | 微服务开发平台</title>
    <th:block th:replace="fragments/layout::core-css"/>
    <th:block th:replace="fragments/layout::app-css"/>
</head>

<body class="four-zero-four">
    <div class="four-zero-four-container">
        <div class="error-code">404</div>
        <div class="error-message">没有找到页面</div>
        <div class="button-place">
            <a th:href="@{/home/dashboard}" class="btn btn-default btn-lg waves-effect">返回主页</a>
        </div>
    </div>

    <th:block th:replace="fragments/layout::core-js"/>

</body>

</html>